body{
    background-image: url(images/leather.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    color: #FFFFED;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
header{
    background-color: #FFFFED;
    color: #0c2d1c;
    padding: 1rem;
    text-align: center;
}
header nav{
    margin: 1rem;
}
nav a{
    padding: 1rem;
    background-color: #0c2d1c;
    color: #FFFFED;
}
h2{
    text-align: center;
}
img{
    width: 27.5rem;
    max-width: 100%;
    margin: 1rem;
}
h1{
    animation: swipe 10s ease-in-out 1 ;
}
@keyframes swipe{
    from{
        left: 0%;
        transform:scale(0);
    }
    to{
        left: 0%;
        transform:scale(1);
    }
}
nav a:hover{
    background-color: #FFFFED;
    color: #0c2d1c;
    transition: background-color .5s ease-in-out
}
div:after{
    content: url(images/spotifylogo.png);
}
@media (min-width:1000px){
    div{
        display: flex;
        flex-wrap: wrap;
    }
}