header{
    background-color:green;
}
p{
    background-color:antiquewhite;
}
header{
    color:antiquewhite;
}
p{
    color:green;
}
header{
    font-family:'Courier New', Courier, monospace;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    font-size:3rem;
}
p{
    font-size:1.5rem;
}
header{
    font-weight: bold;
}
p{
    font-weight: 600;
}
header{
    text-align: center;
}
p{
    text-align: left;
}
/*Delete the space between 2 and rem*/
header{
    margin: 2 rem;
}
p{
    margin: 1rem;
}
header{
    padding: 1rem;
}
p{
    padding: 1rem;
}